<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Estilos -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
  </head>
<body>
      <!-- Navegación -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'registry:registry' %}">Developer Zone</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="ned">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registry:registry' %}">Expedientes</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'registry:create' %}" class="nav-link">Crear expediente</a>
              </li>
            </ul>
            <form class="form-inline ml-auto" action=" {% url 'registry:search' %}" method="GET">
              <div class="md-form my-0">
                <input class="form-control" name="q" value="{{ query|escape }}" type="text" placeholder="Search" aria-label="Search">
              </div>
              <button class="btn btn-primary btn-md my-0 ml-sm-2" type="submit">Search</button>
            </form>
          </div>
        
      </nav>
      <!-- Contenido -->
      {% block content %}
      {% endblock %}

      <!-- Footer -->


        <!-- Pié de página -->
    <footer class="footer text-faded text-center py-5 bg-dark">
          <p class="m-0">
            <a href="#" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
        </p>
      </p>
          <p class="m-0 mbt1 text-white">&copy; Cesar Castillo & Andrei Rodriguez 2019</p>
        </div>
    </footer>
  </div>
      <!-- Javascript -->
      <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>
